body {
    background-color: #ccc;
}
.login_container {
    max-width: 600px;   
    margin: 0 auto;
}

.login_container .login_form {
    width: 300px;
    height: 400px;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    position: relative;
}

.login_container .login_form .login_title {
    font-size: 26px;
    text-align: center;
    padding-top: 30px;
}

.login_container .login_form .id_box {
    margin: 0 auto;
    width: 192px;
    margin-top: 30px;
}

.login_container .login_form .pwd_box {
    margin: 0 auto;
    width: 192px;
    margin-top: 30px;
}

.login_container .login_form .login_box {
    margin: 0 auto;
    width: 192px;
    margin-top: 30px;
}

.login_container .login_form .login_box .login_width {
    cursor: pointer;
    width: 192px;
}

.login_container .login_form .message_box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login_container .login_form .join_box {
    text-align: right;
    font-size: 14px;
    width: 192px;
    margin: 10px auto 0px;
    text-decoration: underline;    
}

.login_container .login_form .join_box span {
    cursor: pointer;
}